# Theme
.sass-cache
.bin
node_modules
bower_components

# OSX
.DS_Store

# Ant
build
build.properties

# Composer
vendor
composer.lock

# Behat
bin
behat.local.yml

# Contrib
modules/contrib/*
themes/contrib/*

# Libraries
libraries/*

# PHPStorm
.idea
