/**
 * @file
 * Simple overrides on top of the Claro theme.
 *
 */

.system-modules details {
  white-space: normal;
}

/* Header */
.page-title-grid {
  display: flex;
  flex-wrap: wrap;
}

.page-title-grid .grid-cell {
  flex: 1;
}

.page-title-grid .grid-cell.page-title {
  flex: 5;
}

.page-title-grid .grid-cell.logo {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .grid-cell.logo {
    display: none;
  }
}

.admin-logo img {
  max-width: 150px;
  max-height: 80px;
  padding-top: 10px;
}

/* Media library */
.media-library-item__preview {
  padding-bottom: 50px;
}
.media-library-item__name {
  padding: 10px;
}

/* Lightning Scheduler */
#edit-moderation-state-wrapper .form-item {
  border-right: 1px solid rgba(216, 217, 224, 0.8);
  border-left: 1px solid rgba(216, 217, 224, 0.8);
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #222330;
  font-size: 0.889rem;
  font-weight: bold;
  line-height: 1.125rem;
  padding: 15px;
  margin: 0;
}

div.scheduled-transition {
  border: 1px solid rgba(216, 217, 224, 0.8);
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #222330;
  font-size: 0.889rem;
  font-weight: bold;
  line-height: 1.125rem;
  padding: 15px;
}

div.scheduled-transition select {
  -webkit-appearance: button;
  -webkit-border-radius: 0.125rem;
  border: 1px solid #8e929c;
  background-color: #ffffff;
  font-size: 1rem;
  padding: calc(0.75rem - 1px) calc(1rem - 1px);
  padding-right:-webkit-calc(2rem - 1px);
  padding-right:calc(2rem - 1px);
  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3E%3Cpath fill='none' stroke-width='1.5' d='M1 1L7 7L13 1' stroke='%23545560'/%3E%3C/svg%3E%0A");
  background-repeat:no-repeat;
  background-position:100% 50%;
  background-size:2.75rem 0.5625rem;
  margin: 10px;
}

div.scheduled-transition input {
-webkit-appearance: button;
  -webkit-border-radius: 0.125rem;
  border: 1px solid #8e929c;
  background-color: #ffffff;
  font-size: 1rem;
  padding: calc(0.75rem - 1px) calc(1rem - 1px);
}

/* Icons for Color Module */
.admin-item__link {
  margin-left: -2em;
  padding-left: 2em;
}

.admin-item__link::before {
 color: #168ec4;
 font-size: 30px;
 font-family: 'Material Icons';
 content: 'keyboard_arrow_right';
 -webkit-font-smoothing: antialiased;
 background-image: unset;
 line-height: 26px;
}

.action-link--icon-show::before {
 color: #545560;
 font-size: 16px;
 font-family: 'Material Icons';
 content: 'visibility';
 -webkit-font-smoothing: antialiased;
 background-image: unset;
 top: 0.26rem !important;
}

.action-link--icon-show:hover::before {
 color: #168ec4;
 font-size: 16px;
 font-family: 'Material Icons';
 content: 'visibility';
 -webkit-font-smoothing: antialiased;
 background-image: unset;
 top: 0.26rem !important;
}

.action-link--icon-hide::before {
  color: #545560;
  font-size: 16px;
  font-family: 'Material Icons';
  content: 'visibility_off';
  -webkit-font-smoothing: antialiased;
  background-image: unset;
  top: 0.26rem !important;
}

.action-link--icon-hide:hover::before {
 color: #168ec4;
 font-size: 16px;
 font-family: 'Material Icons';
 content: 'visibility_off';
 -webkit-font-smoothing: antialiased;
 background-image: unset;
 top: 0.26rem !important;
}
