//
// Main colors.
//
.page {
  background: #FFFFFF;
  color: #292929;
}

// Make the background the same as the footer, so when the site is shorter than the window,
// it will appear the footer expand the full height
body {
  background-color: #292929;
}

// Reset background for CK Editor
body.cke_editable {
  background-color: #ffffff;
}

// Simple links.
a {
  color: #1d84c3;

  &:focus,
  &:hover {
    color: #0071b3;
  }
}


//
// Navbar color scheme.
//
.page__navbar .navbar .navbar-brand {
  color: #0071b3;
}

.page__navbar .navbar .navbar-toggler-icon svg {
  fill: #0071b3;
}

.page__navbar .navbar {
  background-color: #f7f7f9;

  .dropdown-menu {
    background-color: #f7f7f9;
    border: none;
    border-radius: 0;

    .dropdown-item:focus,
    .dropdown-item:hover {
      background-color: transparent;
    }
  }

  @include media-breakpoint-up(lg) {
    background: #f7f7f9 linear-gradient(to left, #0071b3 50%, #f7f7f9 50%);

    .navbar-collapse {
      background-color: #f7f7f9;
    }

    .navbar-left {
      background-color: #f7f7f9;

      a {
        color: #292929;

        &:focus,
        &:hover {
          color: #1d84c3;
        }
      }
    }
    .navbar-right {
      background-color: #0071b3;

      a {
        color: #FFFFFF;

        &:focus,
        &:hover {
          color: #d4d4d4;
        }
      }
      .dropdown-menu {
        background-color: #f7f7f9;

        a {
          color: #292929;

          &:focus,
          &:hover {
            color: #1d84c3;
          }
        }

        label {
          color: #292929;
        }
      }
    }
  }
}

//
// Meta Header color scheme.
//
.page__meta_header {
  background-color: #292929;
  color: #ffffff;

  a {
    color: #d4d4d4;

    &:focus,
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  .dropdown-menu {
    background-color: #292929;
    border: none;
    border-radius: 0;

    .dropdown-item:focus,
    .dropdown-item:hover {
      background-color: transparent;
    }
  }

  .navbar-toggler-icon svg {
    fill: #d4d4d4;
  }
}

//
// Footer color scheme.
//
.page__footer {
  background-color: #292929;
  color: #ffffff;

  a {
    color: #d4d4d4;
    border-bottom: 1px solid #d4d4d4;

    &:focus,
    &:hover {
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
      text-decoration: none;
    }
  }
}

// Override Lightnings colors
.slick-arrow::before,
.slick-arrow::after {
  color: #ffffff;
  opacity: .75;
}

.slick-arrow:hover::before,
.slick-arrow:hover::after {
  color: #ffffff;
  opacity: 1;
}
