//
// Main colors.
//
.page {
  background: #FFFFFF;
  color: #292929;
}

// Make the background the same as the footer, so when the site is shorter than the window,
// it will appear the footer expand the full height
body {
  background-color: #292929;
}

// Reset background for CK Editor
body.cke_editable {
  background-color: #ffffff;
}

// Simple links.
a {
  color: #1d84c3;

  &:focus,
  &:hover {
    color: #0071b3;
  }
}

.navbar .navbar-brand {
  color: #0071b3;
}

//
// Header color scheme.
//
.navbar {
  background-color: #f7f7f9;

  .navbar-toggler {
    background-color: #FFFFFF;
    border: 1px solid rgba(0,0,0,.15);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#292929' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .dropdown-menu.mega-menu {
    background-color: #f7f7f9;
  }

  @include media-breakpoint-up(lg) {
    background: #f7f7f9 linear-gradient(to left, #0071b3 50%, #f7f7f9 50%);

    .navbar-collapse {
      background-color: #f7f7f9;
    }

    .navbar-left {
      background-color: #f7f7f9;

      a {
        color: #292929;

        &:focus,
        &:hover {
          color: #1d84c3;
        }
      }
    }
    .navbar-right {
      background-color: #0071b3;

      a {
        color: #FFFFFF;

        &:focus,
        &:hover {
          color: #d4d4d4;
        }
      }
    }
  }
}

//
// Footer color scheme.
//
.page__footer {
  background-color: #292929;
  color: #ffffff;

  a {
    color: #d4d4d4;
    border-bottom: 1px solid #d4d4d4;

    &:focus,
    &:hover {
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
      text-decoration: none;
    }
  }
}

// Override Lightnings colors
.slick-arrow::before,
.slick-arrow::after {
  color: #ffffff;
  opacity: .75;
}

.slick-arrow:hover::before,
.slick-arrow:hover::after {
  color: #ffffff;
  opacity: 1;
}
