// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {

}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {

  @include hover {

  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}

// Modal
// -----------------------------------------------------------------------------
.ui-widget-overlay {
  background: #000;
  opacity: 0.7;
  z-index: 1200;
}

.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5/*{borderColorDefault}*/;
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.5);
}

.ui-dialog .ui-dialog-titlebar {
  border: 0;
  border-radius: 0;
  background: #444;
  color: #fff;
  cursor: move;
  padding: 15px;
}

.ui-dialog-titlebar-close {
  right: 15px;
}

.layout-builder-configure-block {
  padding: 15px;
}

.ui-dialog [aria-expanded="false"].card-header {
  border-bottom: 0;
  background-color: transparent;
}

.ui-dialog .card-body {
  padding: 30px;
}
