/*
 * @file
 * Provides the layout styles for df_tools_layouts.
 */

.df-layout--12 .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.df-layout.gap-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.df-layout.gap-sm {
  padding-bottom: 15px;
  padding-top: 15px;
}

.df-layout.gap-md {
  padding-bottom: 30px;
  padding-top: 30px;
}

.df-layout.gap-lg {
  padding-bottom: 60px;
  padding-top: 60px;
}

.df-layout.gap-xl {
  padding-bottom: 120px;
  padding-top: 120px;
}
