//
// Color Module Styles Placeholder
//


//
// Main colors.
//
.page__content {
  background: #__body-bg__;
  color: #__body-color__;
}

// Simple links.
a {
  color: #__link-color__;

  &:focus,
  &:hover {
    color: #__link-color-hover__;
  }
}

.navbar .navbar-brand {
  color: #__logocolor__;
}

//
// Header color scheme.
//
.navbar {
  background-color:#__header-bg-left__;
  @media (min-width: 992px) {
    background: #__header-bg-left__ linear-gradient(to left, #__header-bg-right__ 50%, #__header-bg-left__ 50%);

    a {
      color: #__header-link-left__;
    }

    .navbar-collapse {
      background-color: #__header-bg-left__;
    }
    .navbar-left {
      background-color: #__header-bg-left__;

      a {
        color: #__header-link-left__;

        &:focus,
        &:hover {
          color: #__header-link-hover-left__;
        }
      }
    }
    .navbar-right {
      background-color: #__header-bg-right__;

      a {
        color: #__header-link-right__;

        &:focus,
        &:hover {
          color: #__header-link-hover-right__;
        }
      }
    }
  }
}

.slick-arrow::before,
.slick-arrow::after {
  color: #__link-color__;
}

.slick-arrow:hover::before,
.slick-arrow:hover::after {
  color: #__link-color-hover__;
}

