/**
 * @file tabs.css
 */

.df-tools-tabs-wrapper {
  border: none;
  background: transparent;
}

.df-tools-tabs-wrapper .ui-tabs-nav {
  background: none;
  padding: 0;
  border: none;
  border-bottom: 2px solid black;
}

.df-tools-tabs-wrapper .ui-tabs-nav li,
.df-tools-tabs-wrapper.is-overflown .df-tools-tabs-accordion-title {
  border: 2px solid #3366cc;
  color: #3366cc;
  border-bottom-width: 0;
  background: transparent;
  border-radius: 0;
  filter: brightness(100%);
  transition: .2s filter;
}

.df-tools-tabs-wrapper .ui-tabs-nav li a,
.df-tools-tabs-wrapper .ui-tabs-nav li a:hover {
  color: inherit;
}

.df-tools-tabs-wrapper.is-overflown .df-tools-tabs-accordion-title.ui-state-active,
.df-tools-tabs-wrapper.is-overflown .ui-widget-content.ui-accordion-content-active,
.df-tools-tabs-wrapper .ui-tabs-nav li.ui-tabs-active {
  border-color: black;
  color: black;
}

.df-tools-tabs-wrapper .ui-tabs-nav li:not(.ui-tabs-active):hover {
  filter: brightness(50%);
}

.df-tools-tabs-wrapper .ui-tabs-nav li.ui-tabs-active,
.df-tools-tabs-wrapper.is-overflown .df-tools-tabs-accordion-title.ui-state-active {
  border-bottom: 2px solid #f1f1f1;
}

.df-tools-tabs-wrapper .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -2px;
  padding-bottom: 0;
}

.df-tools-tabs-wrapper .ui-tabs-nav li a:focus {
  outline: none;
}

.df-tools-tabs-wrapper .df-tools-tabs-accordion-title {
  display: none;
}

.df-tools-tabs-wrapper.is-overflown > ul {
  display: none;
}

.df-tools-tabs-wrapper.is-overflown .df-tools-tabs-accordion-title {
  display: block;
}

.df-tools-tabs-wrapper.is-overflown .field-item:last-child .df-tools-tabs-accordion-title:not(.ui-state-active) {
  border-bottom-width: 2px;
}

.df-tools-tabs-wrapper.is-overflown .ui-widget-content {
  border-width: 2px;
  border-color: #3366cc;
}
