/* Cant namespace this because df-tools-slideshow comes after this class. This class is critical for containing absolute items to a single slide*/
.slick-slide {
	position: relative;
}

.df-tools-slideshow .slick-slider {
	margin-bottom:0px;
}

.df-tools-slideshow .slick-dots {
	bottom:3%;
	margin:0;
}

/* because our slideshow is full width, overlay the image. */
.df-tools-slideshow .slick-prev {
	left:3%;
	width:inherit;

}

.df-tools-slideshow .slick-next {
	right:3%;
	width:inherit;
}

/* Set some reasonable default sizes */
.df-tools-slideshow .slick-prev:before, .df-tools-slideshow .slick-next:before { 
	font-size:40px;
}

.df-tools-slideshow .slick-dots li button:before {
	font-size:20px;
}

