/**
 * @file
 * Simple overrides on top of the Material Admin theme.
 *
 */

.content-browser-card .card-image .field__item:not(:first-child) {
  display: none;
}

.node-form .form-actions .button {
  margin-bottom: 10px;
}

.node-form .form-actions .dropbutton-wrapper {
  vertical-align: top;
}


.toolbar-horizontal .toolbar-tray .menu-item + .menu-item {
  border-left: inherit;
}

.toolbar-horizontal .toolbar-tray {
  border-bottom: inherit;
}

.toolbar-horizontal .toolbar-tray .menu-item:last-child {
  border-right: inherit;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray {
  box-shadow: inherit;
}
