/**
 * @file
 * Simple overrides on top of the Material Admin theme.
 *
 */

.content-browser-card .card-image .field__item:not(:first-child) {
  display: none;
}

.node-form .form-actions .button {
  margin-bottom: 10px;
}

.node-form .form-actions .dropbutton-wrapper {
  vertical-align: top;
}


.toolbar-horizontal .toolbar-tray .menu-item + .menu-item {
  border-left: inherit;
}

.toolbar-horizontal .toolbar-tray {
  border-bottom: inherit;
}

.toolbar-horizontal .toolbar-tray .menu-item:last-child {
  border-right: inherit;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray {
  box-shadow: inherit;
}

.adminimal-admin-toolbar .toolbar-oriented .user-toolbar-tab {
  float: left;
}

.toolbar .toolbar-bar .toolbar-tab.contextual-toolbar-tab {
  display: none;
}

.entity-gallery-browser-card .file {
  padding-left: 0;
  display: block;
}

.entity-gallery-browser-card .row,
.entity-gallery-browser-card .col {
  padding: 0;
  overflow: hidden;
}

.entity-gallery-browser-card .card-main-media {
  max-height: 150px;
  overflow: hidden;
}

.entity-gallery-browser-card .card-extra-media {
  max-height: 50px;
  overflow: hidden;
}
/* Fix for Lightning Scheduler component*/
div.scheduled-transition {
  padding: 1rem 2rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin-bottom:0.5rem;
 }

div.scheduled-transition select {
  display:block;
  font-size:1rem;
}

div.scheduled-transition > span {
  display:inline-block;
}

div.scheduled-transition a {
  color:#f77;
  float:right;
}

div.scheduled-transition span a {
  float:none;
}

div.scheduled-transition button {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #999;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  padding:0.25rem 0.5rem;
  border-radius: 4px
}
