.header-inner, .site-meta, .site-navigation, .site-footer {
  background: none;
}

.site-logo {
  width: 3em;
}

h1, .site-name, h2, h3, h4, h5, h6, .site-menu a, .site-menu a:visited {
  color: #000;
}

.local-task-link {
  border-color: #000;
  color: #FFF;
}

.local-task-link:hover {
  background: #C0C0C0;
  color: #FCFCFC;
}

.local-task-link.active {
  background: #FCFCFC;
  color: #000;
}

.local-task-link.active:after {
  border-top-color: #000;
}

a:visited {
  color: #000;
}
