/**
 * @file
 * Styles the preview of One theme (Color module integration).
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.color-preview {
    font-family: Roboto,sans-serif;
    line-height: 1.59375;
    font-weight: 400;
    font-size: 17px;
}


.color-preview .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.color-preview a:hover {
    text-decoration: none;
}

.color-preview .header-wrapper.row,
.color-preview .header-wrapper.row .row {
    padding: 0;
}
.color-preview .col.logo {
    align-items: center;
}

.color-preview .logo {
    font-size: 1.25rem;
    max-width: 275px;
    overflow: hidden;
}

.color-preview ul.main-menu li{
    display: inline;
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.color-preview ul.secondary-menu li{
    display: inline;
    letter-spacing: 1px;
    padding: 1rem;
}

.color-preview .material-icons {
    vertical-align: middle;
    padding-right: 5px;
}

.color-preview ul.footer-menu li{
    letter-spacing: 1px;
    padding: .5rem;
    font-size: .9rem;
    text-transform: uppercase;
}

.color-preview .card__media img {
    width: 100%;
}

.color-preview .row.hero {
    padding: 0;
}

.color-preview .hero {
    width: 100%!important;
    height: 400px!important;
    min-height: 400px!important;
    position: relative;
    background: url("/sites/default/files/styles/hero_image/public/2019-03/thimo-van-leeuwen-1413414-unsplash.jpg") center center no-repeat;
}

.color-preview .hero-content {
    padding: 1.8rem 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: rgba(255,255,255,0.6);
    border: 2px solid #000;
    text-align: center;
    line-height: 1.2;
    font-weight: 300;
}

.color-preview .hero-content .title {
    font-size: 3.17647rem;
}

.color-preview .hero-content .body {
    font-size: 1rem;
}

.color-preview .hero-content .body,
.color-preview .hero-content .link {
    padding: .8rem 0;
}



.color-preview .card-title a {
    font-size: 1.29412rem;
    font-weight: 300;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    font-style: normal;
}

.color-preview .card-content {
    line-height: 1.2;
    font-weight: 300;
}

.color-preview .footer {
    color: #ffffff;
}

.color-preview ul.footer-menu li{
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.color-preview ul.footer-menu li a:hover {
    border-bottom: 2px solid #0a0a0a;
    padding-bottom: .5rem
}

