{#
/**
 * @file
 * Template for sidebar.
 */
#}

{%
  set content_classes = [
    page.content ? 'page__content order-1 order-md-2',
    page.sidebar_first and page.sidebar_second ? 'col-md-6',
    page.sidebar_first and page.sidebar_second is empty ? 'col-md-9',
    page.sidebar_second and page.sidebar_first is empty ? 'col-md-9',
  ]
%}

<div class="container mt-4">
  <div class="row">
    {% if page.sidebar_first %}
        <aside class="col-md-3 order-2 order-md-1" role="complementary">
          {{ page.sidebar_first }}
        </aside>
    {% endif %}
    {% if page.content %}
      <div {{ content_attributes.addClass(content_classes) }}>
          {{ page.content }}
      </div>
    {% endif %}
    {% if page.sidebar_second %}
        <aside class="col-md-3 order-3 order-md-3" role="complementary">
          {{ page.sidebar_second }}
        </aside>
    {% endif %}
  </div>
</div>
