{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'df-layout',
'df-layout--12',
]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        {% if settings.full_width %}
        <div class="container-fluid">
        {% else %}
        <div class="container">
        {% endif %}
            <div class="row">
            {% if content.content %}
                <div {{ region_attributes.content.addClass('col-sm', 'layout__region', 'layout__region--content') }}>
                    {{ content.content }}
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endif %}
