/**
 * @file
 * magellan.css
 */

.df-tools-magellan-block [data-sticky-light] {
  display: block;
  min-height: 40px;
  text-align: center;
  background: black;
}

.df-tools-magellan-block .is-stucked {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 5;
}

.df-tools-magellan-block .sticky {
  max-width: 100% !important;
}

.df-tools-magellan-block .menu > li > a {
  color: white;
  flex-direction: column;
  transition: .2s color;
}

.df-tools-magellan-block .menu > li > a:hover,
.df-tools-magellan-block .menu > li > a.active {
  background-color: #3366cc;
}
