.block-inline-blockvideo-hero {
  position: relative;
}

.block-inline-blockvideo-hero video {
  width: 100%;
}

.block-inline-blockvideo-hero .video-hero-block-fields {
  position: absolute;
  padding: 20px;
  margin-left: 20px;
  margin-top: 10%;
  z-index: 1;
}

.block-inline-blockvideo-hero .field--name-field-first-line {
  background: #00000073;
  padding: 10px;
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 640px) {
  .block-inline-blockvideo-hero .video-hero-block-fields {
    margin-top: 5%;
  }
  .block-inline-blockvideo-hero .field--name-field-first-line {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
