.lf-landscape-chrome {
	background:url(images/lf-landscape.svg)no-repeat center center;
	background-size:100% auto;
	height:800px;
	width:100%;

}

.lf-landscape {
	padding-top:55px;
	max-width:90.66667%!important;
}

.lf-landscape .lf-left {
	padding-right:3px;
}

.lf-landscape .lf-right {
	padding-left:3px;
}