/**
 * @file
 *  Contains basic styles for classy panels
 */

.classy-panel-styles-pane.text-align-left {
    text-align: left;
}

.classy-panel-styles-pane.text-align-center {
    text-align: center;
}

.classy-panel-styles-pane.text-align-right {
    text-align: right;
}

.classy-panel-styles-pane.hide-pane-title .pane-title {
    display: none;
}

.classy-panel-styles-pane.pane-width-25 {
    width: 25%;
}
.classy-panel-styles-pane.pane-width-50 {
    width: 50%;
}
.classy-panel-styles-pane.pane-width-75 {
    width: 75%;
}
.classy-panel-styles-pane.pane-width-100 {
    width: 100%;
}

.classy-panel-styles-pane.pane-background-white {
    background-color: white;
}

.classy-panel-styles-pane.pane-background-black {
    background-color: black;
}

.classy-panel-styles-pane.pane-background-lightgray {
    background-color: lightgray;
}

.classy-panel-styles-pane.pane-align-center {
    margin: 0 auto;
}

.classy-panel-styles-pane.pane-align-right {
    float: left;
}

.classy-panel-styles-pane.pane-align-left {
    float: right;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .classy-panel-styles-pane.pane-hide-phone {
        display: none;
    }
    .classy-panel-styles-pane.pane-hide-phone-xl {
        display: none;
    }
    .classy-panel-styles-pane.pane-hide-tablet {
        display: none;
    }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
    .classy-panel-styles-pane.pane-hide-phone-xl {
        display: none;
    }
    .classy-panel-styles-pane.pane-hide-tablet {
        display: none;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .classy-panel-styles-pane.pane-hide-tablet {
        display: none;
    }
}
