/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file "STARTER.scss". This file should be named
 * THEMENAME.scss. If you used the drush command to generate this subtheme,
 * it should be named for you.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Modules: Dictate minor layout modules or reusable elements.
 * - States: Describe the appearance of a module in various states.
 * - Theme: Specific customizations for your subtheme.
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */

// Make sure the charset is set appropriately
@charset "UTF-8";
@import "settings";
@import 'foundation';
@import 'motion-ui';
// Core
// The following imports bootstrap the theme.
// You may comment out bourbon if you don't want to use its library of mixins.
// The theme will have compilation errors if Foundation is not imported.
@include foundation-menu-icon;
@include foundation-global-styles;
//@include foundation-flex-grid;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include motion-ui-transitions;
@include motion-ui-animations;
@include foundation-flex-classes;
// Import our mixins early so they can be used by other partials.
// Optional.
//@import "base/mixins";
// Common file is where you place common utility classes to extend or
// parametrics.
// Optional.
//Fonts!
//@import "base/fonts/font-awesome";
//@import "base/fonts/ionicons";
//@import "base/font-settings";
//Commmon stuff for extends
@import "theme/components";
// Drupal specific styles (to fix Drupalisms).
//@import "base/drupal";
// Styling for elements.
// Optional.
 //@import "base/elements";
// Layout
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import "theme/header";
@import "theme/main";
@import "theme/misc";
@import "theme/footer";
// Modules
//@import "modules/block";
// @import "modules/button";
// States
// @import "states/collapse";
// Themes
// @import "theme/button-light";
// Older IE support
// @import "vendor/ie";
