.hero {
    position: relative;
}

.hero .field-name-field-hero-image img {
    width: 100%;
}

.hero .fieldable-panels-pane {
    position: relative;
}

.hero .field-name-field-hero-body {
    position: absolute;
    top: 10%;
}

.hero.hero-align-left .field-name-field-hero-body {
    left: 5%;
    text-align: left;
}

.hero.hero-align-right .field-name-field-hero-body {
    right: 5%;
    text-align: right;
}

.hero.hero-align-center .field-name-field-hero-body {
    width: 100%;
    text-align: center;
}

.hero.hero-align-center-bottom .field-name-field-hero-body {
    width: 100%;
    text-align: center;
    bottom: 10%;
    top: initial;
}
