.hero {
    position: relative;
}

.hero .field-name-field-hero-image img {
    width: 100%;
}

.hero .field-name-field-hero-button-link {
    margin-top: 10px;
}

.hero .fieldable-panels-pane {
    position: relative;
}

.hero .hero-elements {
    position: absolute;
    top: 10%;
    right: 5%;
    text-align: right;
}

.classy-panel-styles-pane.text-align-left .hero .hero-elements {
    left: 5%;
    right: inherit;
    text-align: left;
}

.classy-panel-styles-pane.text-align-center .hero .hero-elements {
    width: 100%;
    right: inherit;
    text-align: center;
}
