/* Add a generic full width rule for any element */

.full-width,.block-region-top {
    width: 100vw;
    left: calc(-50vw + 50%);
    position: relative;
    z-index: 0;
}

/* The primary region should float over the top region a bit */

.block-region-primary {
    margin-top: rem-calc(-70px);
    background-color: $white;
    padding: rem-calc(25px);
    @media #{$small-only} {
        margin-top: inherit;
    }
    position: relative;
    z-index: 1;
}

#block-pagetitle {
    text-align: center;
    h1 {
        text-transform: capitalize;
        font-family: 'Merriweather', serif;
    }
    .block-title {
        margin: 0;
    }
}

.field-name-field-hero-image {
    img {
        width: 100%;
    }
}

/* Generic slideshow style */

.df-tools-slideshow {
    .slick-slide {
        position: relative;
    }
    .slick-dots {
        @media #{$small-only} {
            display: none !important;
        }
        position: absolute;
        bottom: rem-calc(70px);
        width: 100%;
        text-align: center;
        li {
            display: inline-block;
            padding-right: rem-calc(20px);
            &:last-child {
                padding-right: 0;
            }
        }
        margin: 0;
        button {
            height: rem-calc(20px);
            width: rem-calc(20px);
            padding: rem-calc(5px);
            border-radius: rem-calc(10px);
            color: transparent;
        }
        .slick-active {
            button {
                background-color: $primary-color;
            }
        }
    }
}

blockquote {
    border: 0;
    font-weight: bold;
    color: black;
    font-style: italic;
    margin-left: rem-calc(30px);
    &:before {
        content: "\"";
    }
}

/* Globally hide taxonomy descriptions, as we don't have imports for them yet */

.field-taxonomy-term--description {
    display: none;
}