// Node links
// -----------------------------------------------------------------------------
.nav li.nav-item {
  margin-right:2rem;
}

.nav li.nav-item a {
  color:#ccc;
}

.nav li.nav-item a:hover {
  color:#555;
  text-decoration:none;
  transition:0.5s;
}

// Card view mode
// -----------------------------------------------------------------------------
article.node .card {
  max-width: 28rem;
  padding: 0;
  margin: 1rem auto;
  min-height: 23.5rem;
  overflow: hidden;
}

article.node .card .col-sm {
  padding:0;
}

article.node .card .col-sm > div {
  padding:0 0.5rem;
}

article.node .card .col-sm > div.card-img-top {
  padding:0;
}

article.node .card .img-thumbnail {
  border-radius: 0.25rem 0.25rem 0 0;
  width: 100%;
}


// Content browser view mode
// -----------------------------------------------------------------------------
.content-browser-card {
  max-width: 10rem;
  border:0
}

.content-browser-card .card-content {
  padding: 0.25rem 0.5rem;
}

.content-browser-card .card-content h1 {
  font-size: 1rem;
}

.content-browser-card .img-thumbnail {
  border-radius: 0.25rem 0.25rem 0 0;
}

.content-browser-card .check-indicator {
  position: absolute;
  top: 0;
}


// Featured view mode
// -----------------------------------------------------------------------------
.featured-overlay {
  z-index: 1100;
  background: #f7f7f7e5;
  max-width: 20rem;
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  border-radius: 0.25rem;
}

.featured-overlay .container {
  padding: 1rem;
}

.featured-background img {
  width: 100%;
}

// Embeded entities in the body
// ------------------------------------------------------------------------------
.field--name-body .embedded-entity {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 11px 8px -10px #f5f5f5, 0px -11px 8px -10px #f5f5f5;
}

