.page {
  background: #__body-bg__;
  color: #__body-color__;
}

body {
  background-color: #__footer-background__;
}

a {
  color: #__link-color__;
}

a:focus,
a:hover {
  color: #__link-color-hover__;
}

.page__navbar .navbar .navbar-brand {
  color: #__logocolor__;
}

.page__navbar .navbar .navbar-toggler-icon svg {
  fill: #__logocolor__;
}

.page__navbar .navbar {
  background-color: #__header-bg-left__;
}

.page__navbar .navbar .dropdown-menu {
  background-color: #__header-bg-left__;
  border: none;
  border-radius: 0;
}

.page__navbar .navbar .dropdown-menu .dropdown-item:focus,
.page__navbar .navbar .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  .page__navbar .navbar {
    background: #__header-bg-left__ linear-gradient(to left, #__header-bg-right__ 50%, #__header-bg-left__ 50%);
  }

  .page__navbar .navbar a {
    color: #__header-link-left__;
  }

  .page__navbar .navbar .navbar-collapse {
    background-color: #__header-bg-left__;
  }

  .page__navbar .navbar .navbar-left {
    background-color: #__header-bg-left__;
  }

  .page__navbar .navbar .navbar-left a {
    color: #__header-link-left__;
  }

  .page__navbar .navbar .navbar-left a:focus,
  .page__navbar .navbar .navbar-left a:hover {
    color: #__header-link-hover-left__;
  }

  .page__navbar .navbar .navbar-right {
    background-color: #__header-bg-right__;
  }

  .page__navbar .navbar .navbar-right a {
    color: #__header-link-right__;
  }

  .page__navbar .navbar .navbar-right a:focus,
  .page__navbar .navbar .navbar-right a:hover {
    color: #__header-link-hover-right__;
  }

  .page__navbar .navbar .navbar-right .dropdown-menu {
    background-color: #__header-bg-left__;
  }

  .page__navbar .navbar .navbar-right .dropdown-menu a {
    color: #__header-link-left__;
  }

  .page__navbar .navbar .navbar-right .dropdown-menu a:focus,
  .page__navbar .navbar .navbar-right .dropdown-menu a:hover {
    color: #__header-link-hover-left__;
  }

  .page__navbar .navbar .navbar-right .dropdown-menu label {
    color: #__header-link-left__;
  }
}

.page__meta_header {
  background-color: #__meta-header-background__;
  color: #__meta-header-text__;
}

.page__meta_header a {
  color: #__meta-header-link__;
}

.page__meta_header a:focus,
.page__meta_header a:hover {
  color: #__meta-header-link-hover__;
  text-decoration: none;
}

.page__meta_header .dropdown-menu {
  background-color: #__meta-header-background__;
  border: none;
  border-radius: 0;
}

.page__meta_header .dropdown-menu .dropdown-item:focus,
.page__meta_header .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

.page__meta_header .navbar-toggler-icon svg {
  fill: #__meta-header-link__;
}

.page__footer {
  background-color: #__footer-background__;
  color: #__footer-text__;
}

.page__footer a {
  color: #__footer-link__;
  border-bottom: 1px solid #__footer-link__;
}

.page__footer a:focus,
.page__footer a:hover {
  color: #__footer-link-hover__;
  border-bottom: 1px solid #__footer-link-hover__;
  text-decoration: none;
}

