.ui-widget-overlay {
  background: #aaa;
  opacity: 0.3;
  z-index: 1200;
}

.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.ui-dialog {
  .ui-dialog-titlebar {
    border: 0;
    border-radius: 0;
    background: #444;
    color: #fff;
    padding: 15px;
  }
  &.lbm .ui-dialog-titlebar {
    cursor: move;
  }
}

.ui-dialog .ui-dialog-titlebar-close {
  .ui-icon {
    visibility: hidden;
  }
  position: absolute;
  top: calc(50% - 6px);
  right: 1em;
  width: 30px;
  height: 30px;
  transition: all 0.5s ease;
  border: 0;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.51 13.925c.194.194.512.195.706.001l3.432-3.431c.194-.194.514-.194.708 0l3.432 3.431c.192.194.514.193.707-.001l1.405-1.417c.191-.195.189-.514-.002-.709l-3.397-3.4c-.192-.193-.192-.514-.002-.708l3.401-3.43c.189-.195.189-.515 0-.709l-1.407-1.418c-.195-.195-.513-.195-.707-.001l-3.43 3.431c-.195.194-.516.194-.708 0l-3.432-3.431c-.195-.195-.512-.194-.706.001l-1.407 1.417c-.194.195-.194.515 0 .71l3.403 3.429c.193.195.193.514-.001.708l-3.4 3.399c-.194.195-.195.516-.001.709l1.406 1.419z' fill='%23bebebe'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  &:hover, &:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.51 13.925c.194.194.512.195.706.001l3.432-3.431c.194-.194.514-.194.708 0l3.432 3.431c.192.194.514.193.707-.001l1.405-1.417c.191-.195.189-.514-.002-.709l-3.397-3.4c-.192-.193-.192-.514-.002-.708l3.401-3.43c.189-.195.189-.515 0-.709l-1.407-1.418c-.195-.195-.513-.195-.707-.001l-3.43 3.431c-.195.194-.516.194-.708 0l-3.432-3.431c-.195-.195-.512-.194-.706.001l-1.407 1.417c-.194.195-.194.515 0 .71l3.403 3.429c.193.195.193.514-.001.708l-3.4 3.399c-.194.195-.195.516-.001.709l1.406 1.419z' fill='%23ffffff'/%3E%3C/svg%3E");
  }
}

#layout-builder-modal {
  .layout-builder-configure-block {
    padding: 15px;
  }
  [aria-expanded="false"].card-header {
    border-bottom: 0;
    background-color: transparent;
  }
  .card-body {
    padding: 30px;
  }
  label {
    color: #757575 !important;
    transform: scale(0.8);
    transform-origin: 0 0;
  }
  .form-item-settings-admin-label label,
  .js-form-type-checkbox label {
    transform: none;
  }
  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    transition: box-shadow .3s,border .3s;
  }
  .form-color.form-control,
  .form-textarea.form-control {
    border: 1px solid #9e9e9e;
    border-radius: 0.25rem;
  }
  .form-control:focus {
    border-bottom: 1px solid #009688;
    box-shadow: 0 1px 0 0 #009688;
  }
  .form-color.form-control:focus,
  .form-textarea.form-control:focus,
  .custom-select:focus {
    border-color: #009688;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px #009688;
  }

  .form-wrapper.card .card-header:focus {
    outline: 0;
  }
  .form-item {
    position: relative;
    .form-required::after {
      color: #F44336;
      content: ' *';
    }
    &.form-has-label:not(.form-type-checkbox):not(.form-type-radio):not(.has-prefix):not(.has-prefix-and-suffix) {
      margin: 45px 0 25px;
    }
  }
  .js-form-type-textfield.input-field > label,
  .js-form-type-entity-autocomplete.input-field > label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    line-height: .5;
    cursor: text;
    transition: transform .2s ease-out,color .2s ease-out;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    -ms-transform: translateY(12px);
    transform: translateY(12px);
    padding-top: 15px;
  }
  .js-form-type-textfield.input-field > label:not(.label-icon).active,
  .js-form-type-entity-autocomplete.input-field > label:not(.label-icon).active {
    -ms-transform: translateY(-22px) scale(0.8);
    transform: translateY(-22px) scale(0.8);
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .form-item, .field--name-field-hero-background {
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 30px;
  }
  .row {
    padding-top: 15px;
  }
  .form-item.card, .form-item-settings-label-display {
    padding-top: 0;
  }
  .form-item-settings-block-form-field-hero-alignment,
  .form-item-settings-block-form-field-text-color-0-value,
  .form-item-settings-block-form-field-gradient-color-0-value,
  .form-item-settings-block-form-field-callout-color-0-value,
  .form-item-settings-block-form-field-callout-width,
  .form-item-settings-block-form-field-first-line-size,
  .form-item-settings-block-form-field-second-line-size,
  .form-item-settings-block-form-field-callout-background-color-0-value,
  .form-item-settings-block-form-field-callout-background-opacity,
  fieldset.card {
    padding-bottom: 0;
    margin-top: 0;
  }
  .field--name-field-hero-background,
  .js-form-type-textarea,
  .js-form-type-select {
    margin-top: 0;
  }
  .form-item-settings-admin-label {
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
  .btn-primary {
    background-color: #009688;
    border-color: #009688;
    font-size: .9em;
    letter-spacing: .5px;
    padding-left: 2em;
    padding-right: 2em;
    text-transform: uppercase;
    transition: .3s ease-out;
    &:hover {
    background-color: #00b09f;
    border-color: #00b09f;
    }
  }
  .ui-state-active,
  .ui-widget-content .ui-state-active {
    border: 1px solid #00b09f;
    background-color: #009688;
  }
}
