#drupal-off-canvas .inline-block-list.nav {
  display: block;
  margin-bottom: 15px;
}

#drupal-off-canvas .card-body .links.nav{
  display: block;
}

#drupal-off-canvas textarea:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas select:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="date"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="datetime"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="datetime-local"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="email"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="month"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="number"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="password"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="search"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="tel"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="text"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="time"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="url"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="week"]:not(.js-off-canvas-computed-ignore) {
  background: #ffffff;
}

.node-layout-builder-form {
  margin: 15px;
  .form-actions {
    margin: 15px;
    .button {
      margin: 5px;
    }
  }
  .df-layout {
    padding: 5px;
  }
  .layout-section .remove-section {
    margin-left: 0;
  }
}

.entity-view-display-layout-builder-form {
  margin: 15px;
  .form-actions {
    .button {
      margin: 5px;
    }
  }
}

.layout-section .container-fluid .layout-builder--layout__region .block {
  padding: 0;
}
