body.path-location .page__content {
  padding-top: 30px;
}

body.path-location #views-exposed-form-location-page-1 > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 2rem;
}

body.path-location [type='text'], body.path-location select {
  max-width: 300px;
  min-width: 200px;
  display: block;
}

body.path-location #views-exposed-form-location-page-1 #edit-actions {
    display: inline-block;
    margin: 0;
    padding-top: 1.9rem;
}
