.view-mode-list-item {
  margin-bottom:4rem;
}

.view-mode-list-item > h1 {
  margin-bottom:3rem;
  border:solid thin #ddd;
  color:#555;
  padding: 1rem;
  background-color: #0170b322;
  text-align:center
}
