// Page: Content
// -----------------------------------------------------------------------------
.page__content {
  padding-bottom: 30px;
}

.container-fluid.full {
  padding-left: 0px;
  padding-right: 0px;
}
