// Page: Navbar
// -----------------------------------------------------------------------------

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-left,
.navbar-right {
  padding: $navbar-padding-y $navbar-padding-x;
}

@include media-breakpoint-up(lg) {
  .navbar {
    padding: 0;
    .navbar-right {
      display: flex;
      align-items: center;
    }
  }
}

