// Page: Navbar
// -----------------------------------------------------------------------------

.navbar-brand {
  display: flex;
  align-items: center;

  img {
    max-width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.dropdown-menu.mega-menu {
  width: 100%;
  top: 95%;
  border: 0;
  border-radius: 0;
}

.navbar-left,
.navbar-right {
  padding: $navbar-padding-y $navbar-padding-x;
}

@include media-breakpoint-up(lg) {
  .navbar {
    padding: 0;
    .navbar-right {
      display: flex;
      align-items: center;
    }
  }
}




