// Page: Meta Header
// -----------------------------------------------------------------------------

.page__meta_header {
  position: relative;
  z-index: 1021;
}

.page__meta_header .navbar .navbar-collapse {
  min-height: 50px;
}





